.contactus{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}
.contact{
    width: 43%;
    background-color: rgb(242, 242, 242);
    border-radius: 30px;
    
}

.contact-heading h3{
    
    padding: 0 50px;
    padding-top: 50px;
}
.contact-heading h1{
    padding: 0 50px;
    
}
.info-info{
    padding: 0px 50px;
   display: flex; 
   flex-wrap: wrap;
   flex-direction: column;
   line-height: 20pt;
   /* justify-content: center;*/ 
}
.info-info #b1{
    /* font-size: 20px; */
    color: rgb(186, 185, 185);
}
.user-info{
    width: 43%;
    /* 
    flex-wrap: wrap; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    
}
.user-info input{
    width: 200px;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: rgb(226, 226, 226);
    border: none;
    /* margin-left: 20px;
    margin-top: 30px; */
    
}
.user-info textarea{
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    padding: 20px 20px;
    border: none;
}
.Message{
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    background-color: rgb(233, 80, 80);
    color: white;
    cursor: pointer;
    
}
.Message:hover{
    background-color: #0d6efd;
}

@media only screen and (min-width:1200px) {
    .contact{
        width: 43%;
    }
    .user-info{
        width: 43%;
    }  
}

@media (max-width:1199px){
   .footer{
    top: 100px;
   }
}
@media (max-width:1135px){
    .contact{
        width: 40% ;
    }
    .user-info{
        width: 50%;
    }  
 }
 @media (max-width:976px) {
    .user-info input{
        width: 130px;
    }
    .user-info textarea{
        width: 300px;
    }
 }
 @media (max-width:860px) {
    .footer{
        top: 180px;
    }
 }
 @media (max-width:699px) {
    .contact{
        width: 80%;
    }
    .user-info{
        width: 80%;
        margin-top: 100px;
    }
    .user-info input{
        width: 200px;
    }
    .user-info textarea{
        width: 450px;
    }
    .footer{
        top: 500px;
    }
 }
 @media (max-width:605px) {
    .user-info input{
        width: 150px;
    }
    .user-info textarea{
        width: 350px;
    }
 }
 @media (max-width: 480px) {
    .footer{
        top: 700px;
    }
    .user-info{
        gap: 0;
        margin-top: 50px;
    }
    .user-info input{
        margin-top: 30px;
        width: 200px;
    }
    .user-info textarea{
        margin-top: 30px;
        width: 350px;
    }
    .user-info .Message{
        margin-top: 30px;

    }
}
@media (max-width: 395px) {
    .user-info textarea{
        
        width: 250px;
        height: 150px;
    }
    .footer{
        top: 800px;
    }
}
@media (max-width: 375px) {
    .footer{
        top: 850px;
    }
}
@media (max-width: 344px) {
    .footer{
        top: 900px;
    }
}
@media (max-width: 323px) {
    .footer{
        top: 950px;
    }
}
 