.header{
    width: 100vw;
    height: 400px;
    background-image: url(img/banner-bg.jpg);
    background-repeat: no-repeat;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    /* background-image: cover; */
    background-position: center ;
}
.header-end1{
    color: white;
    font-size: 20px;
    font-weight: 30px;
    position: relative;
    top:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 /* .header-end h1{
    margin-left: 580px;
} */
.header-end1 p{
    font-size: 17px;
    
}
.header-end1 p a{
    color: white;
} 
.middle{
    
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.mbtn{
    background-color: rgb(232, 232, 232);
    color: black;
}
.mbtn:hover{
    background-color: rgb(232, 232, 232);
    color: red;
}
.main1{
    top: 80px;
}
.section2{
    
    margin-top: 0;
    gap: 30px;

}
.box2{
    margin-right: 0;
}
.num{
    display: flex;
    justify-content: center;
    align-items: center;
}
.num p{
    height: 40px;
    width: 40px;
    border-radius: 40px ;
    margin-top: 80px;
    margin-right: 20px;
    background-color: rgb(235, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.num .n2{
    background-color: #0c59f3;
    color: white;
}
.num p:hover{
    background-color: #0c59f3;
    color: white;
}
@media only screen and (min-width:1200px){
    .section2{
        margin-left: 0;
        /* top: 500px; */
    } 
}
@media (max-width:1234px){
    .section2{
        margin-top: 450px;
    }
    .num{
        margin-top: 200px;
    }
    
}
@media (max-width:1186px){
    .section2{
        margin-top: 700px;
    }
    .num{
        margin-top: 200px;
    }
    
}
@media (max-width:1074px){
    .section2{
        margin-top: 0px;
    }
    .num{
        margin-top: 200px;
    }
    
}
@media only screen and (min-width:992px){
    
    /* margin-top: -100px; */

}
@media only screen and (min-width:768px){
    .num{
        margin-top: 0px;
    }
}

@media only screen and (min-width:600px){
    .section2{
        margin-left: 0;
        justify-content: center;
        top: 0px
    }
    .footer{
        top: 100px;
    }
}
@media (max-width:767px){
    .num{
        margin-top: 0px;
    }
}
@media (max-width:666px) {
    .section2{
        margin-left: 0;
        top:-400px
    } 
    .num{
        margin-top:-400px
    }
    .footer{
        /* top: -400px; */
    }
}


@media only screen and (max-width:600px){
    .section2{
        margin-left: 0;
        top:-400px
    }
    .num{
       margin-top: -400px; 
    }
    .footer{
        top: 100px;
    }
}
@media (max-width:433px){
    .middle{
        display: flex;
        flex-direction: column;
        gap:20px
    }
}


